@import url('https://fonts.googleapis.com/css?family=Poiret+One|Gayathri|Girassol|Muli&display=swap');

.Heading {
  font-family: 'Gayathri', sans-serif;
  opacity: 1;
  font-size: 32px;
  color: #034078
}

.Story-link,
.Story-link:visited {
    font-family: 'Muli', sans-serif;
    text-decoration: none;
    opacity: 0.8;
    color: #034078;
    transition: 0.6s;
}

.Story-link:hover {
    color: #9198E5;
}

.Profile-Block {
    margin: var(--l) var(--l) -4px;
    animation: ProfileFadeIn 2s;
}

.Profile-BlockDelay {
    margin: var(--l) var(--l);
    animation: ProfileFadeInDelay 3s;
}

.Profile-Regular-Text{
    font-family: "Muli", sans-serif;
    opacity: 0.8;
    color: #034078;
}

.Profile-Delete-Button {
    height: 18px;
    width: 54px;
    border-radius: 20px;
    opacity: 0.8;
    transition: 1s;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
}

.Profile-Delete-Button:hover {
    background-color: #034078;
    color: #E5ECF4;
}

@keyframes ProfileFadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes ProfileFadeInDelay {
    0% {opacity: 0;}
    33% {opacity: 0;}
    100% {opacity: 1;}
}

