@import url('https://fonts.googleapis.com/css?family=Poiret+One|Gayathri|Girassol|Muli&display=swap');

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.treeRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    /*position: relative;
    left: 50vw - 250px;*/
    margin: auto;
}

.treeContainer {
    text-align: center;
    padding: 0px 0px 20px;
}

.visiBorder {
    border-style: solid;
}