@import url('https://fonts.googleapis.com/css?family=Poiret+One|Gayathri|Girassol|Muli&display=swap');

.CardInput-container {
    margin: var(--s) 64px;
    padding: var(--m) var(--l);
    height: 400px;
    background-color: #E5ECF4;
    width: 600px;
    border-radius: 30px; 
    animation: Input-FadeIn 1s;
}

.Muli-Font {
    font-family: 'Muli', sans-serif;
}

.Title-Input {
    white-space: pre-wrap;
    padding: 0px 3px;
    border: 5px;
    height: 18px;
    width: 150px;
    border-radius: 2px;
    font-family: 'Muli', sans-serif;
}

.Text-Input {
    white-space: pre-wrap;
    margin: 5px 20px 5px 20px;
    padding: 10px;
    height: 290px;
    width: 540px;
    border: 5px;
    border-radius: 20px;
    font-family: 'Muli', sans-serif;
    animation: Input-Content-FadeIn 1.4s;
}

.Input-TitleAuth-Container {
    animation: Input-TitleAuth-FadeIn 1s;
}

.submitButton {
    color: #034078;
    background-color: white;
    height: 20px;
    width: 65px;
    border-radius: 20px;
    opacity: 0.8;
    transition: 1s;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
}

.submitButton:hover {
    background-color: #034078;
    color: #E5ECF4;
}

@keyframes Input-FadeIn {
    0% {opacity: 0.4;}
    100% {opacity: 1;}
}

@keyframes Input-TitleAuth-FadeIn {
    0% {opacity: 0;}
    30% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes Input-Content-FadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}