@import url('https://fonts.googleapis.com/css?family=Poiret+One|Gayathri|Girassol|Muli&display=swap');

.StoryCardIcon-container {
    margin: 2px 8px;
    padding: 2px 4px;
    height: 80px;
    width: 150px;
    background-color: #E5ECF4;
    transition: 0.6s;
    border-radius: 10px;
    animation: Icon-FadeIn 2s;
}

.StoryCardIcon-container:hover {
    background-color: rgb(176, 184, 196);
}

.StoryCardIcon-container > * {
    pointer-events: none;
}

.IconCardContent {
    white-space: pre-wrap;
    font-size: 2px;
    font-family: 'Muli', sans-serif;
}

.IconTitle {
    font-size: 10px;
    font-family: 'Muli', sans-serif;
}

.IconAuthor {
    font-size: 7px;
    font-family: 'Muli', sans-serif;
}

@keyframes Icon-FadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}