@import url('https://fonts.googleapis.com/css?family=Poiret+One|Gayathri|Girassol|Muli&display=swap');

.StoryCard-container {
    margin: var(--s) 64px;
    padding: var(--m) var(--l);
    height: 400px;
    width: 600px;
    background-color: #E5ECF4;
    border-radius: 30px;
    animation: Card-FadeIn 1s;
}

.CardContent {
    white-space: pre-wrap;
    height: 315px;
    font-family: 'Muli', sans-serif;
    animation: Content-FadeIn 1.4s;
}

.Button {
    height: 20px;
    width: 45px;
    border-radius: 20px;
    opacity: 0.8;
    transition: 1s;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
}

.Button-unliked {
    background-color: white;
    color: #034078;
}

.Button-unliked:hover {
    background-color: #034078;
    color: #E5ECF4;
}

.Button-liked {
    background-color: #034078;
    color: #E5ECF4;
}

.Button-liked:hover {
    background-color: white;
    color: #034078;
}

.Card-Title {
    font-size: 40px;
    font-family: 'Poiret One', sans-serif;
    animation: TitleAuth-FadeIn 1s;
}

.Card-Author {
    font-size: 24px;
    font-family: 'Muli', sans-serif;
    animation: TitleAuth-FadeIn 1s;
}

@keyframes Card-FadeIn {
    0% {opacity: 0.4;}
    100% {opacity: 1;}
}

@keyframes TitleAuth-FadeIn {
    0% {opacity: 0;}
    30% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes Content-FadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}