.StoryCard-container {
    margin: var(--s) 64px;
    padding: var(--s) var(--m);
    height: 400px;
    background-color: #E5ECF4;
}

.CardContent {
    white-space: pre-wrap;
}

.Title {
    font-size: 40px;
}

.Author {
    font-size: 24px;
}