.StoryCard-container {
    margin: var(--s) 64px;
    padding: var(--s) var(--m);
    height: 400px;
    background-color: #E5ECF4;
}

.CardContent {
    white-space: pre-wrap;
    height: 315px;
}

.Button {
    color: #E5ECF4;
    height: 20px;
    width: 40px;
    border-radius: 20px;
    opacity: 0.8;
    transition: 1s;
}

.Button-unliked {
    background-color: white;
    color: #034078;
}

.Button-unliked:hover {
    background-color: #034078;
    color: #E5ECF4;
}

.Button-liked {
    background-color: #034078;
    color: #E5ECF4;
}

.Button-liked:hover {
    background-color: white;
    color: #034078;
}

.Title {
    font-size: 40px;
}

.Author {
    font-size: 24px;
}